body{
    background-color: rgb(9, 54, 54);  
      
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.box{
    background-color: azure;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    border-radius: 10%;
    padding: 10px;
    margin: 10%;
}
.panel{    
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    width: 800px;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ptop{
    display: flex;   
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: rgb(6, 103, 61);
    color: white;
    font-weight: 500;
}
.pbtm{
    position: relative;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(4, 87, 51);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 1%;
    margin-bottom: 5px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(57, 141, 105);
}

